<div class="row">
  <div class="col-lg-6">
    <h3 class="section-heading">...</h3>
  </div>
  <div class="col-lg-6 text-right">
    <!-- <a href="#" class="btn btn-default">Add review</a> -->
  </div>
</div>
<!-- 
<div class="emp-container">
  <div class="row">
    <div class="col-lg-4">
      <a href="#">
        <div class="emp-item emp-worst">
          <div class="media">
            <div class="media-left">
              <img src="#"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Santosh Nayak</h4>
              <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
     </a>
    </div>
    <div class="col-lg-4">
        <a href="#">
          <div class="emp-item emp-worst">
            <div class="media">
              <div class="media-left">
                <img src=""
                  class="media-object">
              </div>
              <div class="media-body">
                <h4 class="media-heading emp-name">Santosh Nayak</h4>
                <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
                <div class="rating-stars">
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
       </a>
      </div>
    <div class="col-lg-4">
      <div class="emp-item emp-worst">
        <div class="media">
          <div class="media-left">
            <img src=""
              class="media-object">
          </div>
          <div class="media-body">
            <h4 class="media-heading emp-name">Santosh Nayak</h4>
            <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
            <div class="rating-stars">
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
        <div class="emp-item emp-worst">
          <div class="media">
            <div class="media-left">
              <img src=""
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Santosh Nayak</h4>
              <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-lg-4">
          <div class="emp-item emp-worst">
            <div class="media">
              <div class="media-left">
                <img src=""
                  class="media-object">
              </div>
              <div class="media-body">
                <h4 class="media-heading emp-name">Santosh Nayak</h4>
                <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
                <div class="rating-stars">
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
    
        </div>
        <div class="col-lg-4">
            <div class="emp-item emp-worst">
              <div class="media">
                <div class="media-left">
                  <img src=""
                    class="media-object">
                </div>
                <div class="media-body">
                  <h4 class="media-heading emp-name">Santosh Nayak</h4>
                  <p class="text-uppercase text-muted emp-position">Manager | It Team</p>
                  <div class="rating-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
  </div>

</div> -->