<ul>
  <li >
    {{companyDetails.companyName}}
    {{companyDetails.comapnyCategory}}
    {{companyDetails.companyAddr}}
    {{companyDetails.companyName}}
    {{companyDetails.contactNo}}
    {{companyDetails.countryCode}}
    {{companyDetails.stateCode}}
  </li>
</ul>

<a routerLink="/company/add-employee">a</a>
<!-- <p>{{companyDetails.empList}}</p> -->



<!-- <app-add-company></app-add-company> -->
<!-- <app-search-employee></app-search-employee>

<app-view-employee></app-view-employee>
<app-add-employee></app-add-employee> -->

<!-- <div class="company-profile">
  <section id="about" class="section section-about section-shadow">
    
      <div class="section-box">
        <div class="profile">
          <div class="row">
            <div class="col-sm-5">
              <div class="profile-photo">
                <img alt="logo" src="" class="photo">
              </div>
              
            </div>
            <div class="col-sm-7">
              <div class="profile-info">
                <div class="profile-items clearfix">
                  <div class="profile-preword">
                    <span>Hello</span>
                  </div>

                </div>
                <h1 class="profile-title">
                  <span>I'm</span>
                  ISG  </h1>
                <h2 class="profile-position">IT Company</h2>
                <div class="rating-stars">
                    <i class="fa fa-star"></i>

                    
                  </div>
                
                
                
              </div>
              
                  
              
              <ul class="profile-list">
               
                <li class="clearfix">
                  <strong class="title">Address</strong>
                  <span class="cont ">B 713/714, Noida One sector 62 Noida, India</span>
                </li>
                
              </ul>
              
              
            </div>
          </div>
        </div>
        
        <div class="profile-social hide">
          <ul class="social">
            <li><a href="#" target="_blank"><i class="rsicon rsicon-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="rsicon rsicon-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="rsicon rsicon-dribbble"></i></a></li>
            <li><a href="#" target="_blank"><i class="rsicon rsicon-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="rsicon rsicon-google-plus"></i></a></li>
          </ul>
        </div>
      </div>


    
  </section>
</div> -->