<div class="row">
  
  <div class="col-md-3">

      <form [formGroup]="companyProfileForm" >

        <input type="text" placeholder="Name" formControlName="compnyName"   (input)="valueChange($event.target.value)">
        
      </form> 
      <ul *ngIf="companyList.length" class="list-group">

          <li *ngFor="let item of companyList;let i = index;" class="list-group-item" >
            
            <a [routerLink]="['/company',item._id]" > 
        
              {{i}}
              {{item.companyName}}

              <!-- {{item.comapnyCategory}}
              {{item.companyAddr}}
              {{item.companyName}}
              {{item.contactNo}}
              {{item.countryCode}}
              {{item.stateCode}} -->

            </a>
        
          </li>
        
        </ul>
          
        <ul *ngIf="!companyList.length" class="company-list" >
        
            <li> Add New Company</li>
            <button class="add-comapny" (click)="addComapny()">
              <i class="fa fa-plus"></i>
            </button>
        
        </ul>

  </div>
  
  <div class="col-md-9">

    <router-outlet></router-outlet>

  </div>

</div>



















