
  <h3 class="section-heading">Good Employee</h3>
  <div class="emp-container">
    <div class="row">
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C5103AQE-49PhNQznOw/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=ws0sOBVpX9k25sbaGw8VZxEl47pB0vuZtUOGGmNS6_g"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Prakhar Mathur</h4>
              <p class="text-uppercase text-muted emp-position">UI Developer</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C4E03AQEFt1765kyjrg/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=Oa9I3rMe1nftLyQN5yUMf5M0knqEU5U0iGBju9KOSIg"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Sulekha Agrawal</h4>
              <p class="text-uppercase text-muted emp-position">Web Designer</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C5103AQE-49PhNQznOw/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=ws0sOBVpX9k25sbaGw8VZxEl47pB0vuZtUOGGmNS6_g"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Prakhar Mathur</h4>
              <p class="text-uppercase text-muted emp-position">UI Developer</p>
              <div class="rating-stars">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C4E03AQEFt1765kyjrg/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=Oa9I3rMe1nftLyQN5yUMf5M0knqEU5U0iGBju9KOSIg"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Sulekha Agrawal</h4>
              <p class="text-uppercase text-muted emp-position">Web Designer</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C5103AQE-49PhNQznOw/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=ws0sOBVpX9k25sbaGw8VZxEl47pB0vuZtUOGGmNS6_g"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Prakhar Mathur</h4>
              <p class="text-uppercase text-muted emp-position">UI Developer</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="emp-item emp-good">
          <div class="media">
            <div class="media-left">
              <img src="https://media.licdn.com/dms/image/C4E03AQEFt1765kyjrg/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=Oa9I3rMe1nftLyQN5yUMf5M0knqEU5U0iGBju9KOSIg"
                class="media-object">
            </div>
            <div class="media-body">
              <h4 class="media-heading emp-name">Sulekha Agrawal</h4>
              <p class="text-uppercase text-muted emp-position">Web Designer</p>
              <div class="rating-stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


