<!-- <ul>
    <li><a routerLink="company"> list 1</a></li>
  
</ul> -->

<!-- <ul *ngIf="companyList.length">

    <li *ngFor="let item of companyList;let i = index;"  >
      
      <a routerLink="company"> 
  
        {{i}} 
        {{item.name}}
        {{item.strength}} 
        {{item.origin}} 
        {{item.tech}} 
        {{item.dept}} 
        {{item.empList}}
        {{item.size}}
        {{item.location}}
        {{item.Nation}}
        {{item.type}}
  
      </a>
  
    </li>
  
  </ul>
  
  <ul *ngIf="!companyList.length">
  
      <li> Not Available </li>
  
  </ul> -->