


<form [formGroup]="empDetails" (submit)="sendDetails(empDetails)" >
  <p>Add Employee</p>
  <input 
    type="text" 
    formControlName="fname" 
    placeholder="First Name" />

  <input 
    type="text" 
    formControlName="last" 
    placeholder="Last Name"/>

  <input 
    type="text" 
    formControlName="designation" 
    placeholder="Designation" />
  
  <input 
    type="text" 
    formControlName="Experience" 
    placeholder="Experience in number"/>

  <input 
    type="text" 
    formControlName="cntryCode" 
    placeholder="Country code"/>
  
    <input 
    type="text" 
    formControlName="empMobile" 
    placeholder="Mobile No "/>


    <input 
    type="number" 
    formControlName="rating" 
    placeholder="Rate b/w 1 to 5"/>

    <!-- <input 
    type="file" 
    formControlName="empPik" 
    placeholder="Mobile No "/> -->
    
  <button type="submit" [disabled]=!empDetails.valid>Add Employee</button>
  

</form>